{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template core/login

Moodle template for the login page.

Context variables required for this template:
* autofocusform: Auto focus on form ?,
* canloginasguest - Is guest login allowed?,
* canloginbyemail - Is login by email allowed?,
* cansignup - Signup allowed?,
* cookieshelpicon - cookies help icon details
* error - Any errors in the form?,
* forgotpasswordurl - Forgot password url,
* hasidentityproviders - Flag, set to true to hide identity providers,
* hasinstructions - Flag, set to true to show instructions,
* identityproviders - List of identiy providers,
* instructions - Instructions,
* instructionsformat - Format of instructions,
* loginurl - Login url,
* rememberusername - Remeber username?,
* signupurl - Signup url,
* cookieshelpiconformatted - Formatted html of cookies help icon,
* errorformatted - Formatted error,
* logourl - Flag, logo url,
* sitename - Name of site.

Example context (json):
{
"autofocusform": false,
"canloginasguest": "1",
"canloginbyemail": false,
"cansignup": true,
"cookieshelpicon": {
"heading": "Cookies must be enabled in your browser",
"text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
"icon": {
"attributes": [
{
"name": "class",
"value": "iconhelp"
},
{
"name": "alt",
"value": "Help with Cookies must be enabled in your browser"
},
{
"name": "title",
"value": "Help with Cookies must be enabled in your browser"
},
{
"name": "src",
"value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
}
]
},
"linktext": null,
"title": "Help with Cookies must be enabled in your browser",
"url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
"ltr": true
},
"error": "",
"forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
"hasidentityproviders": false,
"hasinstructions": true,
"identityproviders": [],
"instructions": "For full access to this site, you first need to create an account.",
"instructionsformat": "1",
"loginurl": "http://localhost/stable_master/login/index.php",
"rememberusername": true,
"signupurl": "http://localhost/stable_master/login/signup.php",
"cookieshelpiconformatted": "",
"errorformatted": "",
"logourl": false,
"sitename": "Beer & Chips"
}
}}

{{#hascustomlogin}}
<div class="m-y-3 hidden-sm-down"></div>

<div class="row signin">
    <div class="col-xl-3 push-xl-1 col-md-4">
        <div class="fpsignup">
            <div class="card-title text-xs-center">
                {{#logourl}}
                <h1><img src="{{logourl}}" class="img-fluid" title="{{sitename}}" alt="{{sitename}}" /></h1>
                {{/logourl}}
                {{^logourl}}
                <h1>{{sitename}}</h1>
                {{/logourl}}
                <hr>
            </div>
            {{#error}}
            <div class="loginerrors mt-3">
                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                <div class="alert alert-danger" role="alert">{{error}}</div>
            </div>
            {{/error}}
            <div class="signinform">
                <h3>{{#str}}fpsignup, theme_fordson{{/str}}</h3>
                <form class="mt-3" action="{{{ config.wwwroot }}}/login/index.php" method="POST" role="form">
                    <input type="hidden" name="logintoken" value="{{logintoken}}">
                    <label for="username">
                        {{^canloginbyemail}}
                        {{#str}}username{{/str}}
                        {{/canloginbyemail}}
                        {{#canloginbyemail}}
                        {{#str}}usernameemail{{/str}}
                        {{/canloginbyemail}}
                        {{#cansignup}}
                        | <a href="{{{ config.wwwroot }}}/login/signup.php?">{{#str}}newaccount{{/str}}</a>
                        {{/cansignup}}
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon"></div>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="{{#str}}username{{/str}}" required />
                    </div>
                    <label for="password">{{#str}}password{{/str}}</label>
                    <div class="input-group">
                        <div class="input-group-addon"></div>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="{{#str}}password{{/str}}" required />
                    </div>
                    <div class="sign-up-btn">
                        <button type="submit" class="btn btn-primary">{{#str}}login{{/str}}</button>
                    </div>
                </form>
                <p><a href="{{{ config.wwwroot }}}/login/forgot_password.php">{{#str}}forgotten{{/str}}</a></p>

                {{#hasidentityproviders}}
                <h6 class="mt-2">{{#str}} potentialidps, auth {{/str}}</h6>
                <div class="potentialidplist" class="mt-3">
                    {{#identityproviders}}
                    <div class="potentialidp">
                        <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-secondary btn-block">
                            {{#iconurl}}
                            <img src="{{iconurl}}" alt="" width="24" height="24" />
                            {{/iconurl}}
                            {{name}}
                        </a>
                    </div>
                    {{/identityproviders}}
                </div>
                {{/hasidentityproviders}}

                {{#canloginasguest}}
                <div class="mt-2">
                    <p>{{#str}}someallowguest{{/str}}</p>
                    <form action="{{loginurl}}" method="post" id="guestlogin">
                        <input type="hidden" name="logintoken" value="{{logintoken}}">
                        <input type="hidden" name="username" value="guest" />
                        <input type="hidden" name="password" value="guest" />
                        <button class="btn btn-secondary btn-block" type="submit">{{#str}}loginguest{{/str}}</button>
                    </form>
                </div>
                {{/canloginasguest}}
            </div>
        </div>
    </div>

    <div class="col-xl-9 push-xl-1 col-md-8">
        <div class="logintop">
            {{#logintopimage}}
            <div class="logintopimage">
                <img src="{{{ logintopimage }}}" class="img-fluid" alt="Responsive image">
            </div>
            {{/logintopimage}}
        </div>
        {{#alertbox}}
        <div class="alertbox">
            <div class="alertmessage">
                {{{alertbox}}}
            </div>
        </div>
        <div style="clear:both;"></div>
        {{/alertbox}}
    </div>

</div>

{{/hascustomlogin}}


{{#hasdefaultlogin}}
    {{#alertbox}}
        <div class="row mt-3">
            <div class="alert alert-primary w-100 text-center" role="alert">
               {{{alertbox}}}
            </div>
        </div>
    {{/alertbox}}
    {{^alertbox}}
         <div class="row mt-3"></div>
    {{/alertbox}}

    <div class="row">
        {{#displayguidelines}}       
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 fixform videodangnhapelo mt-3">
                <div class="card-body text-center">
                    <div class="textvideo">
                        <p>HƯỚNG DẪN ĐĂNG NHẬP</p>
                    </div>
                    <iframe class="videovimeo" src="https://player.vimeo.com/video/298100422" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        {{/displayguidelines}}
        {{^displayguidelines}}
            {{! <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 "></div> }}
        {{/displayguidelines}}
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4 col-xl-4 fixform mt-3">
            <div class="card" id="{{elocarddefaultlogin}}-elo-card">
                <div class="card-block">
                    {{#logourl}}
                    <h2 class="text-center py-3"><a href="http://elo.edu.vn" title="{{sitename}}" alt="{{sitename}}"><img
                                style="width:70%;" src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}" /></a></h2>
                    {{/logourl}}
                    {{^logourl}}
                    <h2 class="card-header text-center">{{sitename}}</h2>
                    {{/logourl}}

                    <div class="col-12 elotextlogin">
                        <p>Vui lòng đăng nhập bằng tài khoản Email do nhà trường cung cấp</p>
                    </div>

                    <div class="card-block">
                        {{#cansignup}}
                        <div class="sr-only">
                            <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
                        </div>
                        {{/cansignup}}

                        <div class="row justify-content-md-center">
                            <div class="col-md-11">
                                <form action="{{loginurl}}" method="post" id="login">
                                    <input id="anchor" type="hidden" name="anchor" value="">
                                    <script>
                                        document.getElementById('anchor').value = location.hash;
                                    </script>
                                    <input type="hidden" name="logintoken" value="{{logintoken}}">
                                    <div class="form-group">
                                        <label for="username" class="sr-only">
                                            {{^canloginbyemail}}
                                            {{#str}} username {{/str}}
                                            {{/canloginbyemail}}
                                            {{#canloginbyemail}}
                                            {{#str}} usernameemail {{/str}}
                                            {{/canloginbyemail}}
                                        </label>
                                        <div class="input-group input-group-username">
                                            <input type="text" name="username" id="username" class="form-control"
                                                value="{{username}}"
                                                placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-username">
                                        <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                                        <input type="password" name="password" id="password" value="" class="form-control"
                                            placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}
                                            onfocus="this.style.color='#8C8C8C';">
                                    </div>
                                    {{#error}}
                                        <div class="text-danger mt-1">{{error}}</div>
                                    {{/error}}
                                    {{^error}}
                                        <div class="mt-4"></div>
                                    {{/error}}
                                    {{#rememberusername}}
                                    <div class="rememberpass">
                                        <input type="checkbox" name="rememberusername" id="rememberusername" value="1"
                                            style="vertical-align: middle;" {{#username}}checked="checked" {{/username}} />
                                        <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                                    </div>
                                    {{/rememberusername}}

                                    <button type="submit" class="btn btn-primary btn-block mt-3"
                                        id="loginbtn">{{#str}}login, theme_fordson{{/str}}</button>
                                </form>                              
                                {{#canloginasguest}}
                                <div class="mt-2">
                                    <form action="{{loginurl}}" method="post" id="guestlogin">
                                        <input type="hidden" name="logintoken" value="{{logintoken}}">
                                        <input type="hidden" name="username" value="guest" />
                                        <input type="hidden" name="password" value="guest" />
                                        <button class="btn btn-secondary btn-block" type="submit">{{#str}}loginguest,
                                            theme_fordson{{/str}}</button>
                                    </form>
                                </div>
                                {{/canloginasguest}}
                            </div>
                        </div>

                    </div>
                    <div class="col-12 forgetpass">
                        <div class="forgetpass">
                            <p>{{#str}}forgotten{{/str}} <a href="{{forgotpasswordurl}}">{{#str}}clickhere,
                                    theme_fordson{{/str}}</a></p>
                        </div>
                    </div>
                    <div class='col-12 techinalsupportcontact'>
                        {{#technicalsupportcontact}}
                            <div class="bold ml-3">Hỗ trợ kỹ thuật</div>
                        {{/technicalsupportcontact}}
                        <ul>
                            {{#technicalsupportmobile}}
                                <li>
                                    <i class="fa fa-phone-square"></i>&nbsp
                                    {{technicalsupportmobile}}
                                </li>        
                            {{/technicalsupportmobile}}
                            {{#technicalsupportemail}}
                                <li>
                                    <i class="fa fa-envelope"></i>&nbsp
                                    <a href="mailto:{{technicalsupportemail}}">{{technicalsupportemail}}</a>
                                </li>
                            {{/technicalsupportemail}}               
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mx-auto">
        {{#urlbuttonone}}
            <a class="btn btn-primary p-3" href="{{urlbuttonone}}" target="_blank">{{namebuttonone}}</a>
        {{/urlbuttonone}}
        {{#urlbuttontwo}}
            <a class="btn btn-primary ml-3 p-3" href="{{urlbuttontwo}}" target="_blank">{{namebuttontwo}}</a>
        {{/urlbuttontwo}}
        {{#urlbuttonthree}}
            <a class="btn btn-primary ml-3 p-3" href="{{urlbuttonthree}}" target="_blank">{{namebuttonthree}}</a>
        {{/urlbuttonthree}}
    </div>



    {{#hasinstructions}}
        <div class="row justify-content-center mt-3">
            <div class="col-xl-6 col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>{{#str}}firsttime{{/str}}</h2>
                        </div>
                        <div>
                            {{{instructions}}}
                            {{#cansignup}}
                            <form class="mt-3" action="{{signupurl}}" method="get" id="signup">
                                <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
                            </form>
                            {{/cansignup}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/hasinstructions}}

{{/hasdefaultlogin}}

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
