<form class="searchnav" action="{{action}}" method="get">
    <input class="searchTerm" type="text" name="search" placeholder="{{#str}}searchcourse, theme_fordson{{/str}}" id="id_q_{{uniqid}}">
    <button type="submit" class="searchButton">
        <i class="icon fa fa-search fa-fw " title="{{#str}}searchcourse, theme_fordson{{/str}}" aria-label="{{#str}}searchcourse, theme_fordson{{/str}}"></i>
    </button>
</form>